body {
    margin: 0;
}

div {
    width: 300px;
    height: 300px;
    background-color: #fae1dd;
}

h1 {
    background-color: pink;
    width: 200px;
    padding-left: 100px;
    padding-top: 50px;
    margin: 0;
}

#one {
    background-color: #fec5bb;
    border-width: 5px;
    border-color: black;
    border-style: solid;
    /* box-sizing: border-box; */
    margin-left: 50px;
    margin-bottom: 100px;
}

#two {
    background-color: #e8e8e4;
    border-color: #fcd5ce;
    border-width: 3px;
    border-style: dashed;
    border-left-width: 8px;
    padding-right: 50px;
    margin: 200px;
}

#three {
    background-color: #ffd7ba;
    border: 4px solid black;
    border-left-style: dotted;
    border-radius: 50%;
}

button {
    padding: 10px 20px 30px 40px;
}

span {
    margin-left: 30px;
    margin-top: 30px;
}