body {
    font-family: 'Noto Sans JP', sans-serif;
}

main {
    width: 60%;
    margin: 0 auto;
}

h1 {
    font-weight: 400;
}

h1 + h2 {
    margin-top: 10px;
}

h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
}