h1 {
    text-align: center;
    font-weight: normal;
    text-decoration: blue underline wavy;
    letter-spacing: 15px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
}

p {
    line-height: 2;
}