body {
    background-color: #f5d9d5;
    font-family: Nunito, sans-serif;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .navbar-brand {
    color: #ea1c2c;
    font-size: 1.5rem;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #ea1c2c;
}

#headingGroup span {
    color: #ea1c2c;
}

#headingGroup h2 {
    font-weight: 100;
    font-size: 4rem;
}

@media(max-width: 1200px) {
    #headingGroup h2 {
        font-size: 3rem;
    }
}