<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ネコたち</title>
</head>
<body>
    <h1>ネコたち</h1>
    <ul>
        <% for (let cat of cats) { %>
            <li><%= cat %></li>
        <% } %>
    </ul>
</body>
</html>