<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Random</title>
</head>
<body>
    <h1>ランダムな値：<%= num %></h1>
    <% if (num % 2 === 0) { %>
        <h2>偶数だよ！！！</h2>
    <% } else { %> 
        <h2>奇数だよ！！！</h2>
    <% } %>
</body>
</html>