/* * {
    background-color: cyan;
} */

body {
    background-color: #f1faee;
}

button {
    font-size: 30px;
    background-color: #a8dadc;
}

h1, h2 {
    color: #1d3557;
}

#signup {
    color: #f1faee;
    background-color: #1d3557;
}

span {
    color: #457b9d;
}

.tag {
    color: #f1faee;
    background-color: #e63946;
    font-size: 16px;
}

.post a {
    color: #457b9d;
    text-decoration: none;
    font-weight: 700;
}

footer a {
    color: #e63946;
}

input + button {
    background-color: pink;
}

h2 + button {
    font-size: 20px;
    background-color: pink;
}

footer > a {
    color: #457b9d;
}

input[type="password"] {
    color: greenyellow;
}

a[href*="google"] {
    color: magenta;
}

.post a:hover {
    text-decoration: underline;
}

.post button:active {
    background-color: aqua;
}

.post:nth-of-type(3n) {
    background-color: #c9d5c5;
}

h2::first-letter {
    font-size: 50px;
}

p::first-line {
    color: purple;
}

::selection {
    background-color: sandybrown;
}

.post button:hover {
    background-color: #e63946;
    color: white;
}

button:hover {
    background-color: olive;
}

button {
    background-color: magenta !important;
}