<%- include('partials/head') %>

<%- include('partials/navbar') %>
<h1>ホームページ<%= 'hello world'.toUpperCase() %></h1>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic eveniet vero fugiat corrupti, est, provident saepe optio vel doloribus, reiciendis possimus natus quod? Soluta nesciunt eligendi vero iste nam dolore.
    Tenetur quod explicabo voluptates! Deserunt, accusantium. Ducimus obcaecati eos animi dolorum quo? Sit laudantium quos ullam iusto ipsum ut dolores! Aspernatur, accusantium nisi perferendis ratione mollitia quo dolores in nihil.
</p>
<p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad corporis accusantium tenetur dolorum laborum blanditiis voluptatum quos corrupti nobis, illo aperiam? Illum beatae sequi iusto culpa voluptatibus numquam, autem laudantium.
    Eum accusamus illum nulla vero saepe aspernatur perspiciatis, itaque impedit illo sit tempora ea, aliquid rerum voluptate necessitatibus laborum! A sunt porro architecto dolor id nulla eveniet esse ullam ratione.
</p>

<%- include('partials/footer') %>